<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>
  
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/heroic-features.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">ES Recommender</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/recomended">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Admin
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
  <header class="jumbotron my-0">
    <form action = "/uploader" method = "POST" enctype = "multipart/form-data" class = "form-inline">
        <div class="col-lg-4 col-md-6 mb-2">
          <h4 class="display-4">Upload File: </h4>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <input type = "file" name = "file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <input class="btn btn-primary" type="submit"/>
        </div>
    </form>
  </header>


  
  <header class="jumbotron my-0">
    <h2 class="display-4">Set Cluster Number</h2>
    <form class = "form-inline" action = "/setk" method = "POST">
      <label for="k">Number: </label> 
      <input class="form-control" value="3" type = "number" name = "k" id="k"/>
      <input class="btn btn-primary" type = "submit"/>
    </form>
  </header>
 
    <div class="row text-center ">
     
    </div>

    <!-- /.row -->

  </div>
  <!-- /.container -->
  <!--
  
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
  -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
</body>

</html>
