<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ES Recomender</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/heroic-features.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static',filename='css/flat-example.css') }}" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class=" netflixLogo navbar-brand" href="/recomended">ES Recommender</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/facebookRecomended">ForYou</a>
          </li>
          <li class="nav-item">
            <form class="form-inline" action="/search" method="GET">
              <input class="form-control" type="text" name="query" id="query" placeholder="Search Keyword..." />
              <input class="btn btn-primary" type="submit" />
            </form>
          </li>
          {% if login %}
          <li class="nav-item">
            <a class="nav-link" href="/facebook/login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section class="main-container">
    <!-- Jumbotron Header -->
    <script>
      $(".jumbotron").ready(function () {
        getBackDrop("{{ relevent.imdbID }}");
      });
    </script>
    <div class="bpad">
      </div>
      <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="bg"></div>
        <h1>{{relevent.movie_title}}</h1>
        <p>#</p>
      </div>
      </div>
  </div>
  
    


    {% for aler in get_flashed_messages() %}
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">
        &times;
      </button>
      {{ aler }}
    </div>
    {% endfor %}

    <!-- Page Features -->
   
        <div class="box">
            {% for m in movies %}
             
              <div data-toggle="modal" data-target="#{{ m.imdbID }}" class="card h-100 ">
                  <script>
                      $("#IMD{{m.imdbID}}").ready(function () {
                        getImgFromServer("{{m.imdbID}}","IMD{{m.imdbID}},small");
                      });
                    </script>
                <img id="IMD{{ m.imdbID}}" class="card-img-top" src="{m.poster}" alt="" />
                
                <b>
                  <p class="text-center" id="TXT{{ m.imdbID}}" style="position: absolute; bottom: 1%; width: 100%; opacity: 0;">{{ m.movie_title }}</p>
                </b>
                </div>
            {% endfor %}
          </div>
    {% for m in movies %}
    <!-- /.row -->
    <div class=" modal fade" id="{{ m.imdbID }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class=" modal-title" id="exampleModalLabel">
              {{ m.movie_title }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="modal-body">
              <div class="row">
                <div class="col-md-5">
                    <script>
                        $(document).ready(function () {
                          getImgFromServer("{{m.imdbID}}","mod{{m.imdbID}},big");
                        });
                    </script>
                  <img id="mod{{m.imdbID}}" src="">
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-8">
                      <h4 class="display-5">Title</h4>
                      <p>{{m.movie_title}}</p>
                    </div>
                    <div class="col-md-4">
                      <h4>Year</h4>
                      <p>{{m.title_year}}</p>
                    </div>
                    
                  </div>
                 <div class="col-md-12 col-lg-12">
                    <div class="row">
                      <h4>Genres</h4>
                    </div>
                    <div class="row">
                      <p>{{m.genres}}</p>
                    </div>
                    <div class="row">
                      <h4>Actors</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-4">{{m.actor_1_name}}</div>
                      <div class="col-md-4">{{m.actor_2_name}}</div>
                      <div class="col-md-4">{{m.actor_3_name}}</div>
                    </div>
                    <h1><br></h1>
                    <div class="row">
                        <h4>Keywords</h4>
                    </div>
                    <div class="row">
                      <p>{{m.plot_keywords}}</p>
                    </div>

                  </div>
                </div>
              </div>
     		</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %} 
      </section>
  <!-- /.container -->
  <!--
  
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
  -->
  <!-- Bootstrap core JavaScript -->

  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>
    function getImgFromServer(imdbID,imgID,size) {
      $.get("/getPoster", { imdbID: imdbID,size:size }, function (data) {
        $("#" + imgID).attr("src", data);
        $("#" + imgID).hover(function () {
          
          $(this).css("-webkit-filter", "blur(3.5px) grayscale(75%)");
        
          $("#TXT" + imdbID).css("opacity","1")
        
        }, 
        function () {
          $(this).css("-webkit-filter", "blur(0) grayscale(0%)");
          
            $("#TXT" + imdbID).css("opacity","0")
        })

      });
    }

    function getBackDrop(imdbID) {
      $.get("/getBackDrop", { imdbID: imdbID}, function (data) {
        $(".jumbotron").children(".bg").css("-webkit-filter", "blur(3.5px) grayscale(25%)");
        $(".jumbotron").css("background-image", "url("+data+")");
        $(".jumbotron").css("background-size", "cover");
        $(".jumbotron").css("height", "100%");
        $(".jumbotron").children(".bg").css("height", "100%");
        $(".jumbotron").children(".bg").css("background-size", "cover");
        console.log(data)
      });
    }


  </script>
</body>

</html>